
.meanings {
    display: flex;
    font-family: "larsseit";
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: 10px;
    height: 55vh;
    /* border: 1px solid rgba(146, 146, 146, 0.287); */
    border-radius: 1rem;
    padding: 1rem 2rem;
    overflow-x: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.subTitle {
    font-size: clamp(1.2rem, 2vw, 3.5rem);
}

@media (max-width: 900px) {
    .meanings {
        height: 60vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

.singleMean {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 10px 0;
}